<todo-input placeholder="What needs to be done?" (newInputValue)="createTodo($event)"></todo-input>

<ul class="todo-list">
  <todo-list-item
    *ngFor="let todo of todos$ | async; let index = index"
    [id]="index"
    [name]="todo.name"
    [completed]="todo.completed"
    (checkboxClick)="changeTodo($event)"
    (deleteButtonClick)="deleteTodo($event)">
  </todo-list-item>
</ul>

<todo-summary
  [itemsLeft]="notCompletedTodosCount$ | async"
  [showClearButton]="hasCompletedTodos$ | async"
  (clearButtonClick)="deleteCompletedTodos()">
</todo-summary>
